h1, h2, h3, h4, h5, h6 
{ 
    font-weight: 600;
    color: #301c1e; 
    font-family: 'Hind Siliguri', sans-serif; margin: 0px 0px 15px 0px;
    letter-spacing: 1.6px; text-transform: uppercase;
}
a 
{
    text-decoration: none;
    color: #301c1e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a:focus, a:hover
{
    text-decoration: none; 
    color: #f25b6a; 
}
/*------------------------
 Account
--------------------------*/
.account-holder
{ 
    border: 1px solid #ededed;
    padding: 30px;
}
.social-btn 
{
    margin-bottom: 20px;
}
.fb-btn
{ 
    border: 1px solid #ededed;
    padding: 7px 18px;
    display: inline-block; 
    color: #3a549e;
    font-size: 14px;
    margin-bottom: 20px;
}
.fb-btn-text
{ 
    padding-left: 8px;
    font-size: 14px;
    text-transform: uppercase; 
    letter-spacing: 1.6px; 
    color: #301c1e; 
    font-weight: 700;
}
.google-btn 
{ 
    border: 1px solid #ededed;
    padding: 7px 18px;
    display: inline-block;
    color: #f04c42;
    font-size: 14px;
    margin-left: 10px; 
}
.google-btn-text
{
    padding-left: 8px; 
    font-size: 14px; 
    text-transform: uppercase;
    letter-spacing: 1.6px; 
    color: #301c1e; 
    font-weight: 700;
}
.forgot-password 
{
    color: #f25b6a;
    text-transform: uppercase; 
    font-size: 12px;
    font-weight: 700;
    display: block; 
    margin-bottom: 16px; 
}


.container{
    margin-top:30px;
}

.btn 
{
    font-family: 'Hind Siliguri', sans-serif; font-size: 15px; 
    text-transform: uppercase;
    font-weight: 600; 
    padding: 14px 24px;
    margin-bottom: 4px;
    letter-spacing: 2.2px;
    border-radius: 0px; 
    line-height: 1.6;
    border: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    word-wrap: break-word;
    white-space: normal !important;
}
.btn-primary 
{ 
    background-color: #FF4E4E;
    color: #fff;
}
.btn-primary:hover 
{ 
    background-color: #A43232;
    color: #fff; 
}


/*----------------------- 
   Form Elements:
-------------------------*/
label { }
.control-label

{ font-size: 14px; 
  text-transform: uppercase; 
  letter-spacing: 1px;
  color: #301c1e;
  margin-bottom: 10px;
}
.form-control:focus 
{ }
.textarea.form-control
{ }
.required
{ }
form
{
     width:100%;
}
.form-control 
{
    border-radius: 0px;
    text-transform: capitalize;
    color: #aca5a5; 
    font-size: 12px; 
    font-weight: 500; 
    width: 100%; height: 50px;
    padding: 14px; 
    line-height: 1.42857143; 
     border: transparent; 
     background-color: #f1f1f1; 
     letter-spacing: 1px;
     margin-bottom: 10px; 
     text-transform: uppercase;
     -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
     box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); 
}
.input-group
{ position: relative; 
  display: table; 
  border-collapse: separate; 
}
input[type=checkbox], input[type=radio]
{
    margin: 8px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input::-webkit-input-placeholder 
{ 
    color: #595857 !important;
}
textarea::-webkit-input-placeholder 
{ 
    color: #595857 !important;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.hamburger {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.company-name {
    display: inline-block;
    padding-left: 15px;
}

.company-name:hover {
    cursor: pointer; 
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}



.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

li .active {
    color: white;
    font-weight: 400;
    border-right-color: #55a4d3;
}



.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);html{background-color:#f2f4f7}html body{font-family:Montserrat,sans-serif;color:#727272}html body #wrapper #sidebar-wrapper{background-color:#222d30}html body #wrapper #sidebar-wrapper .sidebar-nav .sidebar-brand{padding:20px;margin-bottom:10px;background-color:#55a4d3;text-transform:uppercase;text-align:center}html body #wrapper #sidebar-wrapper .sidebar-nav .sidebar-brand a{color:#fff;font-weight:700;font-size:16px}html body #wrapper #sidebar-wrapper .sidebar-nav .panel{border-radius:0;background-color:transparent;margin-bottom:0;border:none}html body #wrapper #sidebar-wrapper .sidebar-nav .panel:last-child>a{border-bottom:1px solid #283537}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a{color:#fff;position:relative;text-transform:uppercase;font-size:13px;padding:16px 0 16px 53px;border-top:1px solid #283537;border-right:3px solid #222d30}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a.active{border-right-color:#55a4d3}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a.collapsed{color:#a7abac}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a.collapsed:hover{color:#fff}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a.collapsed .arrow:before{content:"\e258"}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a .arrow{position:absolute;right:0;margin-top:20px;font-size:11px;margin-right:18px}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a .arrow:before{content:"\e259"}html body #wrapper #sidebar-wrapper .sidebar-nav .panel ul{list-style-type:none}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.dashboard>a{background:url(../images/ico_dashboard_on.png) 20px 18px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.dashboard>a.collapsed{background:url(../images/ico_dashboard.png) 20px 18px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.dashboard>a.collapsed:hover{background-image:url(../images/ico_dashboard_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.transactions>a{background:url(../images/ico_transactions_on.png) 20px 16px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.transactions>a.collapsed{background-image:url(../images/ico_transactions.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.transactions>a.collapsed:hover{background-image:url(../images/ico_transactions_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.inv>a{background:url(../images/ico_inventories_on.png) 20px 16px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.inv>a.collapsed{background-image:url(../images/ico_inventories.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.inv>a.collapsed:hover{background-image:url(../images/ico_inventories_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.hid>a{background:url(../images/ico_transactions_on.png) 20px 16px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.hid>a.collapsed{background-image:url(../images/ico_transactions.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.hid>a.collapsed:hover{background-image:url(../images/ico_transactions_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.settings>a{background:url(../images/ico_settings_on.png) 20px 16px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.settings>a.collapsed{background-image:url(../images/ico_settings.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.settings>a.collapsed:hover{background-image:url(../images/ico_settings_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel ul li a{color:#a7abac;margin:20px 0 20px 15px}html body #wrapper #sidebar-wrapper .sidebar-nav .panel ul li a:hover,html body #wrapper #sidebar-wrapper .sidebar-nav .panel ul li a.active{color:#fff}html body #wrapper #page-content-wrapper{background-color:#f2f4f7;padding:0}html body #wrapper #page-content-wrapper #topbar{background-color:#fff;padding:17px 20px;border-bottom:1px solid #eaeaea}html body #wrapper #page-content-wrapper #topbar a#menu-toggle{color:#666;font-size:25px}html body #wrapper #page-content-wrapper #topbar a#menu-toggle:hover,html body #wrapper #page-content-wrapper #topbar a#menu-toggle:focus,html body #wrapper #page-content-wrapper #topbar a#menu-toggle:active{text-decoration:none}html body #wrapper #page-content-wrapper #main-content{padding:20px 5px}html body #wrapper #page-content-wrapper #main-content .box-row .box:first-child{margin-left:0}html body #wrapper #page-content-wrapper #main-content .box-row .box:last-child{margin-right:0}html body #wrapper #page-content-wrapper #main-content .box{background-color:#fff;margin-top:20px;border:1px solid #eaeaea;border-top:3px solid #909090;min-height:237px}html body #wrapper #page-content-wrapper #main-content .box .box-head{padding:19px}html body #wrapper #page-content-wrapper #main-content .box .box-head .agg-data{text-align:right}html body #wrapper #page-content-wrapper #main-content .box .box-head .agg-data .title{font-size:13px;text-transform:uppercase}html body #wrapper #page-content-wrapper #main-content .box .box-head .agg-data .amount{font-size:16px}html body #wrapper #page-content-wrapper #main-content .box .box-head .agg-data .amount strong{font-size:25px}html body #wrapper #page-content-wrapper #main-content .box.inv{border-top-color:#55a4d3}html body #wrapper #page-content-wrapper #main-content .box.price{border-top-color:#e0d14f}html body #wrapper #page-content-wrapper #main-content .box.margin{border-top-color:#30a076}html body #wrapper #page-content-wrapper #main-content .box.sales{border-top-color:#454545}html body #wrapper #page-content-wrapper #main-content .main-box-container .box{margin-top:0;padding-top:0}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-head{border-bottom:1px solid #eaeaea;padding:0}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-head h1{font-size:16px;font-weight:400;padding:17px 0 0 20px}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-head .actions{padding:5px 15px}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-head .actions a{text-transform:uppercase;padding-left:20px;padding-right:20px}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-content .table-container{margin:0;padding:20px}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-content .table-container table tbody tr td{padding:10px!important}html body #wrapper #page-content-wrapper #main-content .sidebar-container{margin:0}html body #wrapper #page-content-wrapper #main-content .sidebar{margin:0}html body #wrapper #page-content-wrapper #main-content .sidebar .box-head{padding:0}html body #wrapper #page-content-wrapper #main-content .sidebar h3{font-size:15px;padding:20px;margin:0;border-bottom:1px solid #eaeaea}html body #wrapper #page-content-wrapper #main-content .sidebar .item{padding:10px 20px}html body #wrapper #page-content-wrapper #main-content .sidebar .item .type{font-size:12px;text-transform:uppercase;color:#909090}html body #wrapper #page-content-wrapper #main-content .sidebar .item .amount{font-size:16px}html body .table-container{padding-left:20px}html body .table-container .table-controls{margin-bottom:10px}html body .table-container .table-controls .table-actions .separator{display:inline-block;padding:0 7px;border-left:1px solid #eaeaea}html body .table-container .table-controls .table-actions a{display:inline-block;margin:5px 7px}html body .table-container .table-controls .table-actions a.btn-maximize{width:17px;height:17px;background:url(../images/ico3.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-minimize{width:17px;height:17px;background:url(../images/ico2.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-print{width:21px;height:17px;background:url(../images/ico_print.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-edit{width:16px;height:17px;background:url(../images/ico_edit.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-delete{width:14px;height:18px;background:url(../images/ico_delete.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-popout{width:16px;height:16px;background:url(../images/ico1.png) no-repeat}html body table:not(.table-condensed){margin-bottom:0!important}html body table:not(.table-condensed).is-datatable tfoot{display:table-row-group!important}html body table:not(.table-condensed).dataTable td.select-checkbox:after{width:20px!important;height:20px!important;margin-top:-6px!important;margin-left:-5px!important}html body table:not(.table-condensed).dataTable td.select-checkbox:before{border:1px solid #e0e0e0;width:20px!important;height:20px!important}html body table:not(.table-condensed).data-table{margin-top:20px}html body table:not(.table-condensed).data-table tbody{margin-bottom:1px solid #eaeaea}html body table:not(.table-condensed).data-table tbody tr td{padding:10px 20px!important}html body table:not(.table-condensed).data-table thead tr th,html body table:not(.table-condensed).data-table tfoot tr th,html body table:not(.table-condensed).data-table thead tr td,html body table:not(.table-condensed).data-table tfoot tr td{padding:10px 20px}html body table:not(.table-condensed) thead tr th{border-bottom:none!important;border-top:1px solid #eaeaea!important;background-color:#f9f9f9}html body table:not(.table-condensed) thead tr th.number{text-align:right}html body table:not(.table-condensed) tbody{border-top-color:#fff!important}html body table:not(.table-condensed) tbody tr td{padding:20px!important;border-top:1px solid #eaeaea!important}html body table:not(.table-condensed) tbody tr td:last-child,html body table:not(.table-condensed) tbody tr td.number{text-align:right}html body table:not(.table-condensed) tbody tr td.row-title{text-transform:uppercase}html body table:not(.table-condensed) tfoot tr td{font-weight:700}html body table:not(.table-condensed) tfoot tr td.number{text-align:right}html body .nav-tabs{border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;margin-top:10px}html body .nav-tabs li.active a{border-bottom:3px solid #55a4d3!important;color:#55a4d3!important}html body .nav-tabs li a{border:none!important;text-transform:uppercase;color:#727272;font-size:13px;margin-left:20px}html body .nav-tabs li a:hover{background-color:#fff}html body .modal .modal-dialog .modal-content{background-color:#f9f9f9}html body .modal .modal-dialog .modal-content .modal-header{color:#454545}html body .modal .modal-dialog .modal-content .modal-header .modal-title{padding-left:10px}html body .modal .modal-dialog .modal-content .modal-body .form-group label{text-transform:uppercase;font-weight:400;display:block;font-size:13px}html body .modal .modal-dialog .modal-content .modal-body .form-group label a{float:right;display:inline-block;padding-left:20px;color:#55a4d3;font-size:12px;background:url(../images/ico_plus.png) 0 0 no-repeat}html body .tab-content{padding:0 20px}html body h1{font-size:24px;font-weight:400;padding:0;margin:0}html body a.btn{background-color:#fcfcfc;border:1px solid #eaeaea;color:#666;padding:10px 15px}html body a.btn:hover{background-color:#666;color:#fcfcfc}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);html{background-color:#f2f4f7}html body{font-family:Montserrat,sans-serif;color:#727272}html body #wrapper #sidebar-wrapper{background-color:#222d30}html body #wrapper #sidebar-wrapper .sidebar-nav .sidebar-brand{padding:20px;margin-bottom:10px;background-color:#55a4d3;text-transform:uppercase;text-align:center}html body #wrapper #sidebar-wrapper .sidebar-nav .sidebar-brand a{color:#fff;font-weight:700;font-size:16px}html body #wrapper #sidebar-wrapper .sidebar-nav .panel{border-radius:0;background-color:transparent;margin-bottom:0;border:none}html body #wrapper #sidebar-wrapper .sidebar-nav .panel:last-child>a{border-bottom:1px solid #283537}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a{color:#fff;position:relative;text-transform:uppercase;font-size:13px;padding:16px 0 16px 53px;border-top:1px solid #283537;border-right:3px solid #222d30}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a.active{border-right-color:#55a4d3}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a.collapsed{color:#a7abac}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a.collapsed:hover{color:#fff}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a.collapsed .arrow:before{content:"\e258"}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a .arrow{position:absolute;right:0;margin-top:20px;font-size:11px;margin-right:18px}html body #wrapper #sidebar-wrapper .sidebar-nav .panel>a .arrow:before{content:"\e259"}html body #wrapper #sidebar-wrapper .sidebar-nav .panel ul{list-style-type:none}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.dashboard>a{background:url(../images/ico_dashboard_on.png) 20px 18px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.dashboard>a.collapsed{background:url(../images/ico_dashboard.png) 20px 18px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.dashboard>a.collapsed:hover{background-image:url(../images/ico_dashboard_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.transactions>a{background:url(../images/ico_transactions_on.png) 20px 16px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.transactions>a.collapsed{background-image:url(../images/ico_transactions.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.transactions>a.collapsed:hover{background-image:url(../images/ico_transactions_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.inv>a{background:url(../images/ico_inventories_on.png) 20px 16px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.inv>a.collapsed{background-image:url(../images/ico_inventories.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.inv>a.collapsed:hover{background-image:url(../images/ico_inventories_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.hid>a{background:url(../images/ico_transactions_on.png) 20px 16px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.hid>a.collapsed{background-image:url(../images/ico_transactions.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.hid>a.collapsed:hover{background-image:url(../images/ico_transactions_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.settings>a{background:url(../images/ico_settings_on.png) 20px 16px no-repeat}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.settings>a.collapsed{background-image:url(../images/ico_settings.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel.settings>a.collapsed:hover{background-image:url(../images/ico_settings_on.png)}html body #wrapper #sidebar-wrapper .sidebar-nav .panel ul li a{color:#a7abac;margin:20px 0 20px 15px}html body #wrapper #sidebar-wrapper .sidebar-nav .panel ul li a:hover,html body #wrapper #sidebar-wrapper .sidebar-nav .panel ul li a.active{color:#fff}html body #wrapper #page-content-wrapper{background-color:#f2f4f7;padding:0}html body #wrapper #page-content-wrapper #topbar{background-color:#fff;padding:17px 20px;border-bottom:1px solid #eaeaea}html body #wrapper #page-content-wrapper #topbar a#menu-toggle{color:#666;font-size:25px}html body #wrapper #page-content-wrapper #topbar a#menu-toggle:hover,html body #wrapper #page-content-wrapper #topbar a#menu-toggle:focus,html body #wrapper #page-content-wrapper #topbar a#menu-toggle:active{text-decoration:none}html body #wrapper #page-content-wrapper #main-content{padding:20px 5px}html body #wrapper #page-content-wrapper #main-content .box-row .box:first-child{margin-left:0}html body #wrapper #page-content-wrapper #main-content .box-row .box:last-child{margin-right:0}html body #wrapper #page-content-wrapper #main-content .box{background-color:#fff;margin-top:20px;border:1px solid #eaeaea;border-top:3px solid #909090;min-height:237px}html body #wrapper #page-content-wrapper #main-content .box .box-head{padding:19px}html body #wrapper #page-content-wrapper #main-content .box .box-head .agg-data{text-align:right}html body #wrapper #page-content-wrapper #main-content .box .box-head .agg-data .title{font-size:13px;text-transform:uppercase}html body #wrapper #page-content-wrapper #main-content .box .box-head .agg-data .amount{font-size:16px}html body #wrapper #page-content-wrapper #main-content .box .box-head .agg-data .amount strong{font-size:25px}html body #wrapper #page-content-wrapper #main-content .box.inv{border-top-color:#55a4d3}html body #wrapper #page-content-wrapper #main-content .box.price{border-top-color:#e0d14f}html body #wrapper #page-content-wrapper #main-content .box.margin{border-top-color:#30a076}html body #wrapper #page-content-wrapper #main-content .box.sales{border-top-color:#454545}html body #wrapper #page-content-wrapper #main-content .main-box-container .box{margin-top:0;padding-top:0}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-head{border-bottom:1px solid #eaeaea;padding:0}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-head h1{font-size:16px;font-weight:400;padding:17px 0 0 20px}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-head .actions{padding:5px 15px}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-head .actions a{text-transform:uppercase;padding-left:20px;padding-right:20px}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-content .table-container{margin:0;padding:20px}html body #wrapper #page-content-wrapper #main-content .main-box-container .box .box-content .table-container table tbody tr td{padding:10px!important}html body #wrapper #page-content-wrapper #main-content .sidebar-container{margin:0}html body #wrapper #page-content-wrapper #main-content .sidebar{margin:0}html body #wrapper #page-content-wrapper #main-content .sidebar .box-head{padding:0}html body #wrapper #page-content-wrapper #main-content .sidebar h3{font-size:15px;padding:20px;margin:0;border-bottom:1px solid #eaeaea}html body #wrapper #page-content-wrapper #main-content .sidebar .item{padding:10px 20px}html body #wrapper #page-content-wrapper #main-content .sidebar .item .type{font-size:12px;text-transform:uppercase;color:#909090}html body #wrapper #page-content-wrapper #main-content .sidebar .item .amount{font-size:16px}html body .table-container{padding-left:20px}html body .table-container .table-controls{margin-bottom:10px}html body .table-container .table-controls .table-actions .separator{display:inline-block;padding:0 7px;border-left:1px solid #eaeaea}html body .table-container .table-controls .table-actions a{display:inline-block;margin:5px 7px}html body .table-container .table-controls .table-actions a.btn-maximize{width:17px;height:17px;background:url(../images/ico3.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-minimize{width:17px;height:17px;background:url(../images/ico2.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-print{width:21px;height:17px;background:url(../images/ico_print.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-edit{width:16px;height:17px;background:url(../images/ico_edit.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-delete{width:14px;height:18px;background:url(../images/ico_delete.png) no-repeat}html body .table-container .table-controls .table-actions a.btn-popout{width:16px;height:16px;background:url(../images/ico1.png) no-repeat}html body table:not(.table-condensed){margin-bottom:0!important}html body table:not(.table-condensed).is-datatable tfoot{display:table-row-group!important}html body table:not(.table-condensed).dataTable td.select-checkbox:after{width:20px!important;height:20px!important;margin-top:-6px!important;margin-left:-5px!important}html body table:not(.table-condensed).dataTable td.select-checkbox:before{border:1px solid #e0e0e0;width:20px!important;height:20px!important}html body table:not(.table-condensed).data-table{margin-top:20px}html body table:not(.table-condensed).data-table tbody{margin-bottom:1px solid #eaeaea}html body table:not(.table-condensed).data-table tbody tr td{padding:10px 20px!important}html body table:not(.table-condensed).data-table thead tr th,html body table:not(.table-condensed).data-table tfoot tr th,html body table:not(.table-condensed).data-table thead tr td,html body table:not(.table-condensed).data-table tfoot tr td{padding:10px 20px}html body table:not(.table-condensed) thead tr th{border-bottom:none!important;border-top:1px solid #eaeaea!important;background-color:#f9f9f9}html body table:not(.table-condensed) thead tr th.number{text-align:right}html body table:not(.table-condensed) tbody{border-top-color:#fff!important}html body table:not(.table-condensed) tbody tr td{padding:20px!important;border-top:1px solid #eaeaea!important}html body table:not(.table-condensed) tbody tr td:last-child,html body table:not(.table-condensed) tbody tr td.number{text-align:right}html body table:not(.table-condensed) tbody tr td.row-title{text-transform:uppercase}html body table:not(.table-condensed) tfoot tr td{font-weight:700}html body table:not(.table-condensed) tfoot tr td.number{text-align:right}html body .nav-tabs{border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;margin-top:10px}html body .nav-tabs li.active a{border-bottom:3px solid #55a4d3!important;color:#55a4d3!important}html body .nav-tabs li a{border:none!important;text-transform:uppercase;color:#727272;font-size:13px;margin-left:20px}html body .nav-tabs li a:hover{background-color:#fff}html body .modal .modal-dialog .modal-content{background-color:#f9f9f9}html body .modal .modal-dialog .modal-content .modal-header{color:#454545}html body .modal .modal-dialog .modal-content .modal-header .modal-title{padding-left:10px}html body .modal .modal-dialog .modal-content .modal-body .form-group label{text-transform:uppercase;font-weight:400;display:block;font-size:13px}html body .modal .modal-dialog .modal-content .modal-body .form-group label a{float:right;display:inline-block;padding-left:20px;color:#55a4d3;font-size:12px;background:url(../images/ico_plus.png) 0 0 no-repeat}html body .tab-content{padding:0 20px}html body h1{font-size:24px;font-weight:400;padding:0;margin:0}html body a.btn{background-color:#fcfcfc;border:1px solid #eaeaea;color:#666;padding:10px 15px}html body a.btn:hover{background-color:#666;color:#fcfcfc}

[hidden] { display: none; }

div.awesomplete {
	display: inline-block;
	position: relative;
}

div.awesomplete > input {
	display: block;
}

div.awesomplete > ul {
	position: absolute;
	left: 0;
	z-index: 999;
	min-width: 100%;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	border-radius: .3em;
	margin: .2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

@supports (transform: scale(0)) {
	div.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
	}
	
	div.awesomplete > ul[hidden],
	div.awesomplete > ul:empty {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

	/* Pointer */
	div.awesomplete > ul:before {
		content: "";
		position: absolute;
		top: -.43em;
		left: 1em;
		width: 0; height: 0;
		padding: .4em;
		background: white;
		border: inherit;
		border-right: 0;
		border-bottom: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	div.awesomplete > ul > li {
		position: relative;
		padding: .2em .5em;
		cursor: pointer;
	}
	
	div.awesomplete > ul > li:hover {
		background: hsl(200, 40%, 80%);
		color: black;
	}
	
	div.awesomplete > ul > li[aria-selected="true"] {
		background: hsl(205, 40%, 40%);
		color: white;
	}
	
		div.awesomplete mark {
			background: hsl(65, 100%, 50%);
		}
		
		div.awesomplete li:hover mark {
			background: hsl(68, 101%, 41%);
		}
		
		div.awesomplete li[aria-selected="true"] mark {
			background: hsl(86, 102%, 21%);
			color: inherit;
		}


.dropdown {
    background:#fff;
    /*border:1px solid #ccc;*/
    /*border-radius:4px;*/
    width:300px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
